.fa-heart{
    color: red !important;
    cursor: pointer;
}
.btn-primary:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.hide{
    display:none;
}

.body{
    margin-left: 10px;
    margin-right: 10px;
}

.h1{
    margin: 10px;
}